.right-column {
  width: 50%;
  position: relative;
}
.about-me {
  border-bottom: solid 1px grey;
}
.about-me > h1 {
  margin-top: 30px;
  font-size: 70px;
}
.about-me > p {
  margin-right: 30px;
  line-height: 25px;
  margin-bottom: 45px;
}
.basic-info {
  display: flex;
  margin: 23px 0;
}
.basic-info > span {
  color: var(--red-details);
  font-size: 20px;
}
