.right-column {
  width: 60%;
  display: flex;
  height: 85%;
  flex-direction: column;
  box-shadow: 0 0 100px 40px black;
}
.about-me {
  border-bottom: solid 1px rgb(0, 0, 0);
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 75px;
  outline: 1px solid var(--grey-border);
  outline-offset: -20px;

  padding-right: 30px;
  line-height: 25px;
}
.about-me > h1 {
  font-size: 2.8rem;
}

.basic-info {
  display: flex;
  margin: 23px 0;
}
.basic-info > span {
  color: var(--red-details);
  font-size: 20px;
}
.resume {
  font-size: 1.1rem;
}

@media (max-width: 1600px) {
  .about-me {
    padding-top: 60px;
    padding-left: 80px;
  }
  .resume {
    font-size: 0.9rem;
  }
}
@media (max-width: 1300px) {
  .about-me > div > h1 {
    margin-top: 20px;
    font-size: 50px;
  }
  .about-me > div > p {
    line-height: 22px;
    /* margin-bottom: 45px; */
  }
}
@media (max-height: 700px) {
  .about-me > div > p {
    line-height: 20px;
    /* margin-bottom: 45px; */
  }
}
