@import "./components/reset.css";
@import "./components/utilities.css";
@import "./components/variables.css";
@import "./components/particles-style.css";
@import "./about-me.css";
@import "./info-box.css";
@import "./profile-img.css";
@import "./corner-buttons.css";
@import "./edu-empl.css";
@import "./socials.css";
@import "./skills.css";
@import "./hamburger.css";

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1650px;
  height: 800px;
}

@media (max-width: 1750px) {
  .container {
    width: 1550px;
    height: 750px;
  }
}
@media (max-width: 1600px) {
  .container {
    width: 1450px;
    height: 700px;
  }
}
@media (max-width: 1500px) {
  .container {
    width: 1400px;
    height: 680px;
  }
  @media (max-width: 1470px) {
    .container {
      width: 1350px;
      height: 630px;
  }
}
@media (max-width: 1390px) {
  .container {
    width: 1250px;
    height: 570px;
  }
}
