.main {
  height: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  outline: 1px solid var(--grey-border);
  outline-offset: -40px;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  outline: 1px solid rgb(126, 126, 126);
  outline-offset: -20px;
}


.name-box {
  text-align: center;
}
.name {
  color: white;
  margin-bottom: 10px;
  font-size: 3rem;
}
.soft {
  margin-top: -13px;
  margin-bottom: 10px;
  color: rgb(126, 126, 126);
  font-size: 1.5rem;
}

@media (max-width: 1550px) {
  .name {
    font-size: 2.5rem;
  }
  .soft {
    font-size: 1.3rem;
  }
  .intro {
    outline-offset: -33px;
  }
  .box {
    outline-offset: -16px;
  }
}
@media (max-width: 1470px) {
  .name {
    font-size: 2.3rem;
  }
  .soft {
    font-size: 1.1rem;
  }
  .intro {
    outline-offset: -30px;
  }
  .box {
    outline-offset: -13px;
  }
}
@media (max-width: 1390px) {
  .name {
    font-size: 2.1rem;
  }
  .soft {
    font-size: 1rem;
  }
  .intro {
    outline-offset: -22px;
  }
  .box {
    outline-offset: -10px;
  }
}
