.bg-black {
  background-image: url(../../img/dark_background_line_surface_65896_1920x1080.jpg);
}
.bg-grey {
  background-color: var(--main-color);
}
p {
  color: var(--font-color);
}
h1,
h2,
h3 {
  color: white;
}
